footer{
    width: 100%;
    background-color: #35312F;
    text-align: center;

    p{
        padding: 15px;
        color: white ;
    }

    a{
        color: white;
        font-weight: bold;
    }
}