.cart-icon__container {
    position: relative;
    height: auto;
    transition: all ease .3s;
    cursor: pointer;
  svg {
    width: 30px;
    height: 30px;
  }

  span {
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    text-align: center;
    color: black;
  }

  &:hover{
    transform: scale(1.1);
  }
}
