header {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  transition: all ease .3s;
  z-index: 99;

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px 20px;

    .header__image {
      width: 100px;
      svg {
        width: 100%;
        height: auto;
      }
    }
  }
}

.header__container-scrolled {
  -webkit-box-shadow: 0 3px 5px #35312F;
  -moz-box-shadow: 0 3px 5px #35312F;
  box-shadow: 0 3px 5px #35312F;
}
